<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huike.clues.mapper.TbClueTrackRecordMapper">

    <resultMap type="TbClueTrackRecord" id="TbClueTrackRecordResult">
        <result property="id" column="id"/>
        <result property="clueId" column="clue_id"/>
        <result property="createBy" column="create_by"/>
        <result property="subject" column="subject"/>
        <result property="record" column="record"/>
        <result property="level" column="level"/>
        <result property="createTime" column="create_time"/>
        <result property="type" column="type"/>
        <result property="falseReason" column="false_reason"/>
        <result property="nextTime" column="next_time"/>
    </resultMap>
    <insert id="add">
        insert into tb_clue_track_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="clueId != null">clue_id,</if>
            <if test="level != null">level,</if>
            <if test="subject != null">subject,</if>
            <if test="nextTime != null">next_time,</if>
            <if test="type != null">type,</if>
            <if test="falseReason != null">false_reason,</if>
            <if test="record != null">record,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="clueId != null">#{clueId},</if>
            <if test="level != null">#{level},</if>
            <if test="subject != null">#{subject},</if>
            <if test="nextTime != null">#{nextTime},</if>
            <if test="type != null">#{type},</if>
            <if test="falseReason != null">#{falseReason},</if>
            <if test="record != null">#{record},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>
    <select id="selectbypage" resultType="com.huike.clues.domain.TbClueTrackRecord">
         select id,
         clue_id,
         create_by,
         subject,
         record,
         level,
         next_time,
         create_time,
         type,
         false_reason from tb_clue_track_record where clue_id = #{clueId}
    </select>


</mapper>